{% extends "base/base.html" %}

{% block content %}
<main class="container">
    <h1 class="page-title">Our Service</h1>
    <div class="services">
        <section class="service">
            <h3>CALL CENTER</h3>
            <P>We have an exellent call center equiped with the best of technology to help manage our clienst easily</P>
        </section>
        <section class="service">
            <h3>WAREHOUSING</h3>
            <p>We have state of the art warehouse where all sort of good can be kept safely until our clients are ready to send for their goods. We offer this service to our client who need warehouse for storage.</p>
        </section>
        <section class="service">
            <h3>SHIPPING</h3>
            <p>We assist our client to import and or export thier good and products to any country of thier choice. This comes with a trackign device that enable our client to monitor the movement of their products.</p>
        </section>
        <section class="service"></section>
    </div>

</main>

{% endblock content %}