{% extends "base/base.html" %}
{% load static %}


{% block pageTitle %}Dashboard{% endblock pageTitle %}
{% block content %}

  <main class="main">
    <div class="page-title" data-aos="fade" style="background-image: url({% static "base/assets/img/page-title-bg.jpg" %});">
        <div class="container position-relative">
          <h1>Dashboard</h1>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="{% url "home" %}">Home</a></li>
              <li class="current">Dashboard</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->

      {% include "app/messages.html" %}

    <div class="container my-4" >
      <div class="row text-primary fs-6 mb-3">
        <div class="col-2">Reference No</div>
        <div class="col-2">Sender</div>
        <div class="col-2">Reciever</div>
        <div class="col-1">Product</div>
        <div class="col-1">Quantity</div>
        <div class="col-2">Update Location</div>
        <div class="col-2">Update currenLocation</div>
      </div>

        {% for package in packages  %}
        <div class="row">
          <div class="col-2">{{package.carrierReferenceNo}}</div>
          <div class="col-2">{{package.shippersFullname}}</div>
          <div class="col-2">{{package.recieversFullname}} </div>
          <div class="col-1">{{package.product}}</div>
          <div class="col-1">{{package.quantity}}</div>
          <div class="col-2">
            <a class="btn bg-primary text-white text-center" href="{% url "updatePackage" %}">upd.. loc..</a>
          </div>
        <div class="col-2">
          <form action="{% url "update-current-location" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="referenceId" value="{{package.carrierReferenceNo}}">
            <button class="btn bg-primary text-white text-center">upd.. cur.. Loc..</button>
          </form>
        </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
      <a class="btn-getstarted col-2 bg-primary text-white m-2 p-2 text-center" href="{% url "getaquote" %}">Get a Quote</a>
    </div>
   
  </main>

  {% endblock content %}

  <div class="row">
    <div class="col-12 col-sm-6 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Package Details</h5>
                <p class="card-text">Click to enter new package details.</p>
                <a href=" {% url "addPackage" %} " class="btn btn-primary">Enter Details</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Location history</h5>
                <p class="card-text">Click to enter new package details.</p>
                <a href="{% url "updatePackage" %}" class="btn btn-primary">Update location</a>
            </div>
        </div>
    </div>
</div>